@import url("https://fonts.googleapis.com/css2?family=Jacquard+24&display=swap");
@import "tailwindcss";

@theme {
	--font-display: "Jacquard 24", serif;
	--font-sans:
		"Helvetica Neue", Helvetica, Arial, ui-sans-serif, system-ui, sans-serif;
	--font-mono:
		"SFMono-Regular", "SF Mono", Consolas, "Liberation Mono", monospace;
}
